.container{
    display: grid;
    grid-template-columns: 65% 33.5%;
    gap: 20px;
}
.cards{
    width: 100%;
    max-height: 92vh;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    overflow-y: scroll;
    gap: 30px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
    align-content: start;
    padding-top: 10px;
}
.cards::-webkit-scrollbar{
    display: none;
}
.card{
    background: #fff;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1),
        0 0 20px rgba(30, 144, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.card:hover,.card.active{
    box-shadow: 0 0 0px 3px #fff,
        0 0 0px 6px dodgerblue,
        0 0 20px rgba(30, 144, 255, 1);
}
.t_d{
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(30, 144, 255, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t_d .con{
    width: 80%;
    position: relative;
    top: 20px;
    margin-bottom: 30px;
}
.t_d .heading{
    font-size: 30px;
    font-family: Calibri;
    font-weight: bold;
}
.t_d .con div{
    margin-bottom: 15px;
}
.t_d .con input{
    background: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid dodgerblue;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
}
.t_d .dsb, .t_d .ddb, .cBtns .btn{
    background: dodgerblue;
    border: 0;
    padding: 10px 20px;
    font-size: 18px;
    font-family: verdana;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.t_d .ddb{
    background: orange;
    display: none;
}
.t_d .btn_con{
    position: relative;
    top: 40px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}


/* confirmation box */
.cBox{
    position: fixed;
    left: 50%;
    top: -10%;
    transform: translate(-50%,-50%);
    background: #fff;
    z-index: 7;
    border-radius: 10px;
    padding: 20px 25px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    transition: 0.3s;
}
.cBox.active{
    top: 50%;
}
.cBoxBG{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    display: none;
}
.cBoxBG.active{
    display: block;
}
.cMsg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cBtns{    
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.cBtns .cBtn{
    
    background: orange;
}


@media (max-width: 1460px) {
    .cards{
        grid-template-columns: 100px 100px 100px 100px 100px;
    }
}

@media (max-width: 1250px) {
    .cards{
        grid-template-columns: 100px 100px 100px 100px;
    }
}

@media (max-width: 1030px) {
    .cards{
        grid-template-columns: 100px 100px 100px;
    }
}

@media (max-width: 775px) {
    .cards{
        grid-template-columns: 100px 100px;
    }
}
