body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 9% auto;
    user-select: none;
    transition: 0.3s;
}

body.active{
    grid-template-columns: 14% auto;
}

.container {
    min-height: calc(100vh-20px);
    position: relative;
    padding: 20px;
    background: #ebebeb;
}
