body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 9% auto;
    user-select: none;
    transition: 0.3s;
}

body.active{
    grid-template-columns: 14% auto;
}

.container {
    min-height: calc(100vh-20px);
    position: relative;
    padding: 20px;
    background: rgba(235, 235, 235, 0.8);
}


/* Error Box Design */

.errorBox {
    width: 25%;
    height: 60px;
    background: rgb(255, 203, 130);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    position: fixed;
    top: -20%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 8;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 15%;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.errorBox.active{
    top: 10px;
}

.errorBox .errorMsg {
    position: relative;
    left: 30px;
}

.cross svg{
    transform: rotate(45deg);
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.cross{
    padding: 5px;
}
.cross:hover {
    background: rgba(0,0,0,0.1);
    width: 25px;
    border-radius: 50%;
}

.footer {
    position: fixed;
    bottom: 5px;
    font-size: 12px;
}