body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.menubar
{
    box-shadow: 0 0 25px rgba(30, 144, 255,0.3);
    float: left;
    min-height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.menubar a {
    text-decoration: none;
    width: 70px;
    height: 90px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.menubar a:hover svg{            
    background: #1479FF;
    color: #fff;
    box-shadow: 5px 10px 15px rgba(30, 144, 255,0.5);
}
.menubar a:hover p{
    color: #1479FF;
}
.menubar a:hover svg path{
    fill: #fff;
}
.menubar a svg
{
    width: 25px;
    height: 25px;
    padding: 10px;
    background: #F3F8FF;
    transition: 0.3s;
    border-radius: 10px;
    color: #1479FF;
}
.menubar a svg path{
    fill: #1479FF;
}
.menubar a p{
    margin: 0;
    margin-top: 3px;
    color: #000;
    transition: 0.3s;
    font-size: 12px;
}
.menubar .title
{
    font-size: 20px;
    color: #1479FF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    min-height: calc(100vh-20px);
    width: 100%;
    position: relative;
    padding: 20px;
    background: #ebebeb;
}
.container .left
{
    position: absolute;
    left: 20px;
    top: 0;
    width: 30%;
    height: 100%;
    margin: 0;
}
.container .left .scedules
{
    position: relative;
    top: 20px;
    width: 100%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .left .chart
{
    position: relative;
    top: 45px;
    height: 50%;
    background: #fff;      
    box-shadow: 0 0 25px rgba(30, 144, 255,0.3);
    border-radius: 20px;
}
.container .left .chart div
{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    margin: 0;
    width: 70%;
    height: 70%;
}
.container .left p 
{
    position: relative;
    left: 5%;
    top: 20px;
    width: 90%;
    margin: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.container .left .scedules p
{
    text-align: center;
    left: 0;
}
.container .left .scedule_container
{
    width: 90%;
    height: 65%;
    position: relative;
    top: 40px;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}
.container .left .scedule_container::-webkit-scrollbar
{
    display: none;
}
.container .left .scedule_container div{
    width: 70%;
    text-align: center;
    padding: 10px 0px;
    background: #fff;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.1);
}
.container .left .scedule_container div:hover
{
    box-shadow: 0 0 1px 2px #fff,
                0 0 1px 5px rgba(30, 144, 255,1);
}
.container .left .scedule_container div.active
{
    box-shadow: 0 0 1px 2px #fff,
                0 0 1px 5px rgba(30, 144, 255,1);
    background: rgba(30, 144, 255,0.7);
    color: #fff;
}
.right
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 65%;
    height: 94%;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(30, 144, 255,0.3);
    background: #fff;
}
.right .teachers 
{
    position: relative;
    top: 0;
    margin: auto;
    height: 33%;
    width: 80%;
}
.right .teachers .r_cards
{           
    height: 100%;
    position: relative;
    top: 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.right .teachers .r_cards::-webkit-scrollbar
{
    display: none;
}
.right .teachers .r_cards div
{
    position: relative;
    width: 100px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.1),
                0 0 20px rgba(30, 144, 255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background: #fff;
    transition: 0.3s;
}
.right .teachers .r_cards div.active
{
    background: rgba(30, 144, 255,0.7);
    box-shadow: 0 0 1px 3px #fff,
                0 0 1px 6px dodgerblue;
    color: #fff;
}
.right .teachers .r_cards div:hover
{
    box-shadow: 0 0 1px 3px #fff,
                0 0 1px 6px dodgerblue;
}
.right .teachers svg
{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    z-index: 5;
    background: #fff;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}
.right .teachers .r_l_arrow
{
    left: -35px;
    border-radius: 20px;
    padding: 10px;
    transform: translate(0,-50%) rotate(-180deg);
}
.right .teachers .r_r_arrow
{
    right: -35px;
    border-radius: 20px;
    padding: 10px;
    transform: translate(0,-50%);
}
.right .set_time_chat
{
    position: relative;
    top: 0;
    height: 50%;
    width: 100%;
}
.right .set_time_chat p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-left: 40px;
    margin-top: 0;
    width: 90%;
}
.right .set_time_chat div
{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    margin: 0;
    width: 70%;
    height: 70%;
}
.right .details
{
    position: relative;
    height: 16%;
    width: 100%;
    grid-area: 6;
    grid-column: 1;
    grid-row: 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.right .details .sems,.right .details .subjects
{
    background: #fff;
    border: 2px solid #fff;
    width: 45%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(30, 144, 255,0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}        
.right .details .sems p,.right .details .subjects p
{
    position: relative;
    top: -5px;
    left: 20px;
}
.right .semnc, .right .snc
{
    position: relative;
    top: -20px;
    left: 15px;
    border-radius: 0;
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
}
.right .semnc div, .right .snc div
{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background: #d5e5ff;
    padding: 0 4px;
}
.right .main_chart
{
    position: relative;
    max-width: 350px;
    max-height: 250px;
    left: 50%;
    top: 40%;
    transform: translate(-55%,-50%);
    margin: 0;
}