/* .set_time_chart {
    position: relative;
    top: 0;
    height: 50%;
    width: 100%;
}

.set_time_chart p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-left: 40px;
    margin-top: 0;
    width: 90%;
}
.set_time_chart .att_chart {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -62%);
    margin: 0;
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 0px 15px 15px 0px;
    background: #fff;
}

.set_time_chart .att_chart .times,
.week {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    justify-content: space-around;
    height: 35px;
    align-items: center;
    font-size: 12px;
    background: yellow;
}

.set_time_chart .att_chart .week .class {
    width: 65px;
    height: 90%;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-weight: 700;
    color: #fff;
    font-size: 9px;
}

.set_time_chart .class.alloc{
    cursor: pointer;
}

.set_time_chart .att_chart .week:nth-child(4) .class.alloc {
    background: #14A5FF;
    box-shadow: 0 0 0px 3px rgba(20, 165, 255, 1),
                5px 5px 10px rgba(20, 165, 255, 0.7);
}

.set_time_chart .att_chart .week .class.alloc {
    background: #1479FF;
    box-shadow: 0 0 0px 3px rgba(20, 121, 255, 1),
                5px 5px 10px rgba(20, 121, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(3) .class.alloc {
    background: #14D2FF;
    box-shadow: 0 0 0px 3px rgba(20, 210, 255, 1),
                5px 5px 10px rgba(20, 210, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(5) .class.alloc {
    background: #37DBE6;
    box-shadow: 0 0 0px 3px rgba(55, 219, 230, 1),
                5px 5px 10px rgba(55, 219, 230, 0.7);
}


.set_time_chart .att_chart .week:nth-child(4) .class.alloc:hover {
    background: #14A5FF;
    box-shadow: 0 0 0px 0px rgba(20, 165, 255, 1),
                5px 5px 10px rgba(20, 165, 255, 0.7);
}

.set_time_chart .att_chart .week .class.alloc:hover {
    background: #1479FF;
    box-shadow: 0 0 0px 0px rgba(20, 121, 255, 1),
                5px 5px 10px rgba(20, 121, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(3) .class.alloc:hover {
    background: #14D2FF;
    box-shadow: 0 0 0px 0px rgba(20, 210, 255, 1),
                5px 5px 10px rgba(20, 210, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(5) .class.alloc:hover {
    background: #37DBE6;
    box-shadow: 0 0 0px 0px rgba(55, 219, 230, 1),
                5px 5px 10px rgba(55, 219, 230, 0.7);
}

.att_chart .week .class .period{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -27.5px;
    width: 100%;
    transition: 0.3s;
    background: greenyellow;
}
.week .class:hover .period
{
    top: -24px;
}
.att_chart .week .class .period div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: calibri;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
}
.week .class:hover .period div{
    font-size: 16px;
}

.week .week_names{
    width: 70px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rebeccapurple
}
.class_label{
    background: red;
} */



/* .set_time_chart{
    background: blue;
} */

.set_time_chart p {
    /* background: #fff; */
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 7px 0;
}
.att_chart {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    height: 90%;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.set_time_chart .times, .set_time_chart .week {
    /* background:dodgerblue; */
    display: grid;
    grid-template-columns: 10.5% 10.5% 10.5% 10.5% 10.5% 10.5% 10.5% 10.5% 10.5%;
    justify-content: space-around;
    justify-items: center;
}
.set_time_chart .times div{
    /* background: darkorchid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.set_time_chart .week .s_for_grid {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: violet; */
}
.set_time_chart .week .class{
    opacity: 0;
}
.set_time_chart .week .class.alloc{
    opacity: 1;
    cursor: pointer;
}
.period {
    width: 100%;
    padding: 10px 0;
    background: dodgerblue;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.period div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.set_time_chart .att_chart .week:nth-child(4) .class.alloc .period{
    background: #14A5FF;
    box-shadow:
                5px 5px 10px rgba(20, 165, 255, 0.5);
}

.set_time_chart .att_chart .week .class.alloc .period{
    background: #1479FF;
    box-shadow:
                5px 5px 10px rgba(20, 121, 255, 0.5);
}

.set_time_chart .att_chart .week:nth-child(3) .class.alloc .period{
    background: #14D2FF;
    box-shadow:
                5px 5px 10px rgba(20, 210, 255, 0.5);
}

.set_time_chart .att_chart .week:nth-child(5) .class.alloc .period{
    background: #37DBE6;
    box-shadow: 
                5px 5px 10px rgba(55, 219, 230, 0.5);
}