body {
    background: rgba(0, 0, 0, 0.1);
}
.container
{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: green;
    gap: 20px;
}
.top
{
    background: red;
    height: 20%;
}
.set_time_chart{
    background: yellow;
    height: 80%;
}
.set_time_chart .week
{
    height: 60px;
}
.set_time_chart .att_chart .times,.week
{
    font-size: 15px;
}