/* .set_time_chart {
    position: relative;
    top: 0;
    height: 50%;
    width: 100%;
}

.set_time_chart p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-left: 40px;
    margin-top: 0;
    width: 90%;
}
.set_time_chart .att_chart {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -62%);
    margin: 0;
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 0px 15px 15px 0px;
    background: #fff;
}

.set_time_chart .att_chart .times,
.week {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    justify-content: space-around;
    height: 35px;
    align-items: center;
    font-size: 12px;
    background: yellow;
}

.set_time_chart .att_chart .week .class {
    width: 65px;
    height: 90%;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-weight: 700;
    color: #fff;
    font-size: 9px;
}

.set_time_chart .class.alloc{
    cursor: pointer;
}

.set_time_chart .att_chart .week:nth-child(4) .class.alloc {
    background: #14A5FF;
    box-shadow: 0 0 0px 3px rgba(20, 165, 255, 1),
                5px 5px 10px rgba(20, 165, 255, 0.7);
}

.set_time_chart .att_chart .week .class.alloc {
    background: #1479FF;
    box-shadow: 0 0 0px 3px rgba(20, 121, 255, 1),
                5px 5px 10px rgba(20, 121, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(3) .class.alloc {
    background: #14D2FF;
    box-shadow: 0 0 0px 3px rgba(20, 210, 255, 1),
                5px 5px 10px rgba(20, 210, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(5) .class.alloc {
    background: #37DBE6;
    box-shadow: 0 0 0px 3px rgba(55, 219, 230, 1),
                5px 5px 10px rgba(55, 219, 230, 0.7);
}


.set_time_chart .att_chart .week:nth-child(4) .class.alloc:hover {
    background: #14A5FF;
    box-shadow: 0 0 0px 0px rgba(20, 165, 255, 1),
                5px 5px 10px rgba(20, 165, 255, 0.7);
}

.set_time_chart .att_chart .week .class.alloc:hover {
    background: #1479FF;
    box-shadow: 0 0 0px 0px rgba(20, 121, 255, 1),
                5px 5px 10px rgba(20, 121, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(3) .class.alloc:hover {
    background: #14D2FF;
    box-shadow: 0 0 0px 0px rgba(20, 210, 255, 1),
                5px 5px 10px rgba(20, 210, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(5) .class.alloc:hover {
    background: #37DBE6;
    box-shadow: 0 0 0px 0px rgba(55, 219, 230, 1),
                5px 5px 10px rgba(55, 219, 230, 0.7);
}

.att_chart .week .class .period{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -27.5px;
    width: 100%;
    transition: 0.3s;
    background: greenyellow;
}
.week .class:hover .period
{
    top: -24px;
}
.att_chart .week .class .period div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: calibri;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
}
.week .class:hover .period div{
    font-size: 16px;
}

.week .week_names{
    width: 70px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rebeccapurple
}
.class_label{
    background: red;
} */



/* .set_time_chart{
    background: blue;
} */

.set_time_chart p {
    /* background: #fff; */
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    left: 20px;
}

.att_chart {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    height: 88%;
    width: 97%;
    position: relative;
    left: 1.5%;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    box-shadow: 0 0 15px rgba(30, 144, 255, 0.3);
}

.set_time_chart .times,
.set_time_chart .week {
    /* background:dodgerblue; */
    display: grid;
    grid-template-columns: 8% 10% 10% 10% 10% 8% 10% 10% 10% 10%;
    justify-content: space-around;
    justify-items: center;
}

.set_time_chart .times div {
    /* background: darkorchid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.set_time_chart .week .s_for_grid {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: violet; */
}

.set_time_chart .week .class {
    opacity: 0;
}

.set_time_chart .week .class.alloc {
    opacity: 1;
    cursor: pointer;
}

.period {
    width: 100%;
    padding: 10px 0;
    background: dodgerblue;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.period div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.set_time_chart .att_chart .week:nth-child(4) .class.alloc .period {
    background: #14A5FF;
    box-shadow:
        5px 5px 10px rgba(20, 165, 255, 0.5);
}

.set_time_chart .att_chart .week .class.alloc .period {
    background: #1479FF;
    box-shadow:
        5px 5px 10px rgba(20, 121, 255, 0.5);
}

.set_time_chart .att_chart .week:nth-child(3) .class.alloc .period {
    background: #14D2FF;
    box-shadow:
        5px 5px 10px rgba(20, 210, 255, 0.5);
}

.set_time_chart .att_chart .week:nth-child(5) .class.alloc .period {
    background: #37DBE6;
    box-shadow:
        5px 5px 10px rgba(55, 219, 230, 0.5);
}

/* Pop up for Manually fill up time table to show avilable and Unavailable sirs */

.allocTeacherBox {
    width: 70%;
    height: 80%;
    background: #fff;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    border-radius: 10px;
    padding: 20px;
    padding-right: 40px;
    transition: 0.3s;
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
}

.allocTeacherBox.active {
    top: 50%;
}

.allocTeacherBoxBG {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.allocTeacherBoxBG.active {
    display: block;
}

.allocTeacherBox .mainSirsCon,
.allocTeacherBox .mainSubsCon {
    display: grid;
    gap: 10px;
    grid-template-rows: auto 40px;
}

.cardsCon {
    overflow-y: scroll;
    position: relative;
    top: 10px;
    height: 100%;
    max-height: 65vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 15px;
    padding: 10px;
    justify-content: space-around;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
    align-content: start;
}

.cardsCon::-webkit-scrollbar {
    width: 10px;
}

.cardsCon::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.cardsCon::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

.card {
    background: #fff;
    height: 110px;
    border-radius: 10px;
    box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1),
        0 0 20px rgba(30, 144, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.card.disabled {
    background: rgba(255, 255, 255, 0.2);
}

.card.disabled:hover {
    box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1),
        0 0 20px rgba(30, 144, 255, 0.2);
}

.card:hover,
.card.active {
    box-shadow: 0 0 0px 3px #fff,
        0 0 0px 6px dodgerblue,
        0 0 20px rgba(30, 144, 255, 1);
}

.allocTeacherBox .btns {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.allocTeacherBox .heading,
.allocTeacherBox .btns .txt {
    position: relative;
    left: 20px;
}

.allocTeacherBox .btns .btnOpts button {
    background: dodgerblue;
    border: 0;
    padding: 8px 15px;
    font-size: 16px;
    font-family: verdana;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.allocTeacherBox .btns .btnOpts button:nth-child(1) {
    background: orange;
}

.allocTeacherBox .btns .btnOpts button.notactive {
    background: rgba(0, 0, 0, 0.3);
    cursor: unset;
}

.btnOpts {
    position: relative;
    right: 10px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-content: end;
}

.allocTeacherBox .heading {
    font-size: 18px;
    font-weight: bold;
}


/*-------------------------------------Loader-----------------------------------------------*/

.loader_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    z-index: 20;
    display: none;
}

.loader,
.loader2 {
    border-radius: 50%;
    border: 10px solid dodgerblue;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
}

.loader {
    width: 200px;
    height: 200px;
}

.loader2 {
    width: 100px;
    height: 100px;
    animation-direction: reverse;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loader_msg {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}