.subcon {
    display: grid;
    grid-template-rows: 20% auto;
    gap: 10px;
    padding: 10px;
    height: 100%;
    position: relative;
    top: -10px;
}

.top {
    /* background: #ebebeb; */
    display: grid;
    grid-template-rows: auto auto;
}

.top .sem_cards_container,
.top .options,
.top .section {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
}

.top .sem_cards_container {
    width: 95%;
    left: 2.5%;
}

/* .set_time_chart{
    height: 80%;
    border-radius: 20px;
}
.set_time_chart .week
{
    height: 70px;
}
.set_time_chart .att_chart .times,.week
{
    font-size: 15px;
}
.set_time_chart p{
    position: relative;
    top: 20px;
}
.set_time_chart .att_chart{
    transform: translate(-50%, -54%);
    width: 90%;
    height: 85%;
    box-shadow: 0 0 20px rgba(30, 144, 255, 0.3);
} */
.container .top .cards {
    width: 100%;
    height: 55px;
    padding-right: 20px;
    scrollbar-width: 0;
    display: grid;
    grid-auto-flow: column;
    overflow: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.container .top .cards::-webkit-scrollbar {
    display: none;
}

.container .top .cards div {
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1),
        0 0 20px rgba(30, 144, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 20px;
    background: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.container .top .cards div:hover {

    box-shadow: 0 0 0px 3px #fff,
        0 0 0px 6px dodgerblue,
        0 0 20px rgba(30, 144, 255, 1);
}

.container .top .arrow {
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    padding: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container .top .l_t_arrow {
    transform: rotate(180deg);
}

.container .top .r_t_arrow {
    margin-left: 20px;
}

.top .filters {
    position: relative;
    left: 2.5%;
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.top .options {
    justify-content: left;
    gap: 20px;
    grid-column: 1 / span 2;
}

.top .options div {
    background: #fff;
    border-radius: 10px;
    padding: 8px 18px;
    box-shadow: 0 0 0px 2px #fff,
        0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    cursor: pointer;
}

.top .options div.active,
.top .options div.active:hover {
    padding: 8px 18px;
    box-shadow: 0 0 0px 2px dodgerblue,
        0 0 20px rgba(0, 0, 0, 0.1);
}

.top .options div:hover {
    padding: 8px 18px;
    box-shadow: 0 0 0px 0px #fff,
        0 0 20px rgba(0, 0, 0, 0.1);
}

.top .section {
    grid-column: 3;
    justify-content: right;
    gap: 20px;
}

.top .section div {
    background: #fff;
    border-radius: 10px;
    padding: 8px 18px;
    box-shadow: 0 0 0px 2px #fff,
        0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    cursor: pointer;
}

.top .section div.active,
.top .section div.active:hover {
    box-shadow: 0 0 0px 2px dodgerblue,
        0 0 20px rgb(0, 0, 0, 0.1);
}

.top .section div:hover {
    padding: 8px 18px;
    box-shadow: 0 0 0px 0px #fff,
        0 0 20px rgba(0, 0, 0, 0.1);
}

.top .sem_cards_container .cards .active {
    box-shadow: 0 0 0px 3px #fff,
        0 0 0px 6px dodgerblue,
        0 0 20px rgba(30, 144, 255, 1);
}

/* 
.set_time_chart .att_chart .week .class {
    width: 105px;
    transition: 0.3s;
    border-radius: 5px;
}

.week .week_names{
    width: 105px;
}


.att_chart .week .class .period{
    top: 0px;
}


.set_time_chart .att_chart .week:nth-child(4) .class.alloc svg{
    background: #1083ca;
    box-shadow: 0 0 0px 3px rgba(20, 165, 255, 1),
                5px 5px 10px rgba(20, 165, 255, 0.7);
}

.set_time_chart .att_chart .week .class.alloc svg{
    background: #105abc;
    box-shadow: 0 0 0px 3px rgba(20, 121, 255, 1),
                5px 5px 10px rgba(20, 121, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(3) .class.alloc svg{
    background: #12afd2;
    box-shadow: 0 0 0px 3px rgba(20, 210, 255, 1),
                5px 5px 10px rgba(20, 210, 255, 0.7);
}

.set_time_chart .att_chart .week:nth-child(5) .class.alloc svg{
    background: #2dafb8;
    box-shadow: 0 0 0px 3px rgba(55, 219, 230, 1),
                5px 5px 10px rgba(55, 219, 230, 0.7);
} */